.jumbotron {
    position: relative;
    background: #F6F6F6 url("cycling1.jpg") right top;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}

body{
	padding-top: 0px;
	padding-bottom: 40px;
}

.thumbCol{
	padding-top:40px;
}

.page-header{
	margin-top:0;
}

.panel-body{
	padding-top:0;
}

.featureImage{
	margin-bottom: 15px;
}

.img-thumbnail{
	margin-top: 15px;
}

.date{
	margin-top: 15px;
	font-size: x-small;
}

.sticky{
	max-width:250px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.my_header{
    max-width: 1200px;
}

.new_post{
    margin-left: 15px;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    border-radius: 8px;
}

.no_content{
    padding: 18px 28px;
    font-size: 30px;
    border-radius: 8px;
    height: 200px;
    text-align: center;
}

.image_list{
    height: auto;
    max-height: 200px;
}